<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    >
    <style>
        section {
            background-color: var(--pico-background-color);
            color: var(--pico-color);
        }
</style>
    <title>server</title>
</head>
<body data-theme="dark">
    <article data-theme="dark">
        <h1>Hello, World!</h1>
        <script src="https://utteranc.es/client.js"
            repo="CORE3215/pythonTestFiles"
            issue-term="pathname"
            theme="icy-dark"
            crossorigin="anonymous"
            async>
        </script>
    </article>
</body>
</html>

